// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):

	// =================================================================
	--bg-site: #344b55;

	--header: #000;
	--footer: #111;
	--menu: #333639;

	--text-black: #000;
	--text-white: #fff;
	--text-purple: #7380FF;
	--text-content: #c7c7c7;
	--text-secondary: #898989;

	--white-color: #fff;
	--main-color: #41456B;

	--border-color: #D7D7D7;

	--accent-color: #263256;
	--inverse-color: #ff0000;
	--secondary-color: #4d9fdc;

	--bg-button-white: #fff;

	--button-default: #fff;
	--button-hover: #4d9fdc;

	--icon-default: #fff;
	--icon-accent: #263256;

	--menu-background: #fff;
	--menu-opacity: rgba(0, 0, 0, 0.10);
	
}
