@import '@variables';
@import '@common';


//====================================================================================================
.logo {
   max-width: 136px;
   width: 100%;
   margin-right: 28px;
   position: relative;
   z-index: 8;

   img {
      max-width: 100%;
   }
}
//====================================================================================================