@import '@variables';
@import '@common';


.partners {

   &__block {
      margin-top: 50px;
   }

   &__position {
      display: inline-block;
      margin-bottom: 30px;
      font-size: 28px;
      font-weight: 400;
   }

   &__image {
      @extend %img-wrap;
      height: 100%;
      @extend %flex-center;
      background-color: #fff;
      padding: 16px;
      border-radius: 8px;
      overflow: hidden;
      position: relative;

      img {
         @extend %img;
         height: 100%;
         object-fit: contain;
      }
   }
}